<app-main-nav>
<h1>Your Recommended Songs</h1>

<div class="divif" *ngIf="isLoggedin; else elseBlock">

  You have not logged in, Please login to access this feature.

  <br>
  <br>
  <button class="but2" style="width:auto;" routerLink="/home">Login</button>



</div>
<ng-template #elseBlock>

<input class="form-control" type="text" name="searching" [(ngModel)]="searching" (ngModelChange)="Searchingfun()"

placeholder="Search your Recommended songs">


<div class="card-container">
  
    <mat-card *ngFor="let music of musics | paginate: {itemsPerPage:6, currentPage:p};">

      <div class="song-delete">{{music.counter}}</div>
      
        <h3>{{music.trackName}}</h3>
        
        <mat-accordion>
            
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title class="song-center">
                   Artist
                </mat-panel-title>
                <mat-panel-description class="song-center">
                     {{music.artistName}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="p-2"><img mat-card-img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" alt="user" width="100" class="rounded-circle"></div>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="song-center">
                    Album
                </mat-panel-title>
                <mat-panel-description class="song-center">
                    {{ music.albumName }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card-content>
                <audio controls [id]="index">
                    <source [src]="music.trackurl" type="audio/ogg">
                    <source [src]="music.trackurl" type="audio/mpeg">
                </audio>
                <div class="card-details">
                    <p>Genra: {{ music.trackGenre }} </p>
                </div>
            </mat-card-content>
            <mat-card-actions>
               
                <span class="icon-edit" routerLink="/comment"><mat-icon (click)="passvaluetocomment(music.trackName,music.trackId)" style="width:auto;">mode_edit</mat-icon></span>
                 
            </mat-card-actions>
           
    
            </mat-expansion-panel>

            <br>
            <br>

            
            <button #playBtn mat-flat-button color="primary" (click)="playSong(music)">PLAY</button>
            <button #stopBtn mat-button color="primary" (click)="stopSong(music)">STOP</button>
           
          </mat-accordion>
          
       
    </mat-card> 

</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

</ng-template>
</app-main-nav>
