<div class="btn-group" style="width:100%">
    <button style="width:33.3%" (click)="goToArtist()"> Artist Wise Songs</button>
    <button style="width:33.3%" (click)="goToAlbum()"> Album Wise Songs</button>
    <button style="width:33.3%;background-color: rgb(136, 128, 201); color: black;"> Video Songs</button>
  </div>

  <div class="card-container">
  
   
    <mat-card >
        <h3>  Hollywood Songs</h3>
        <mat-accordion>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">

              <mat-expansion-panel-header>
                <mat-panel-title class="song-center">
                    1.
                </mat-panel-title>
                <mat-panel-description class="song-center">
                    Halsey - Without Me
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card-content>
                <div class="container"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/J6enOG547lk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
            </mat-card-content>
            </mat-expansion-panel>

             <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="song-center">
                    2.
                </mat-panel-title>
                <mat-panel-description class="song-center">
                    Shakira - Waka Waka (This Time for Africa)
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card-content>
                <div class="container"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pRpeEdMmmQ0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </mat-card-content>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">

              <mat-expansion-panel-header>
                <mat-panel-title class="song-center">
                    3.
                </mat-panel-title>
                <mat-panel-description class="song-center">
                    Mark Ronson - Uptown Funk (Official Video) ft. Bruno Mars
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card-content>
                <div class="container"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/OPf0YbXqDm0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </mat-card-content>
            </mat-expansion-panel>

             <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="song-center">
                    4.
                </mat-panel-title>
                <mat-panel-description class="song-center">
                    Taylor Swift - Blank Space
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card-content>
                <div class="container"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/e-ORhEE9VVg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   </div>
            </mat-card-content>
            </mat-expansion-panel>
            
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">

              <mat-expansion-panel-header>
                <mat-panel-title class="song-center">
                    5.
                </mat-panel-title>
                <mat-panel-description class="song-center">
                    Adele - Hello
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card-content>
                <div class="container"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YQHsXMglC9A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   </div>
            </mat-card-content>
            </mat-expansion-panel>

             <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="song-center">
                    6.
                </mat-panel-title>
                <mat-panel-description class="song-center">
                    Justin Bieber - Anyone
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card-content>
                <div class="container"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/KIK3azN4w34" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   </div>
            </mat-card-content>
            </mat-expansion-panel>
          </mat-accordion>
    </mat-card> 

    <mat-card >
        <h3>  Bollywood Songs</h3>
        <mat-accordion>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">

              <mat-expansion-panel-header>
                <mat-panel-title class="song-center">
                    1.
                </mat-panel-title>
                <mat-panel-description class="song-center">
                    KHAIRIYAT
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card-content>
                <div class="container"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/hoNb6HuNmU0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
            </mat-card-content>
            </mat-expansion-panel>

             <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="song-center">
                    2.
                </mat-panel-title>
                <mat-panel-description class="song-center">
                    Agar Tum Saath Ho
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card-content>
                <div class="container"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/sK7riqg2mr4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </mat-card-content>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">

              <mat-expansion-panel-header>
                <mat-panel-title class="song-center">
                    3.
                </mat-panel-title>
                <mat-panel-description class="song-center">
                    Tu Hi Yaar Mera | Pati Patni Aur Woh
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card-content>
                <div class="container"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/BTRPBiE_1lA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                </mat-card-content>
            </mat-expansion-panel>

             <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="song-center">
                    4.
                </mat-panel-title>
                <mat-panel-description class="song-center">
                    Barfi - Phir le aya dil 
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card-content>
                <div class="container"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-RAsJ6dAF68" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe> 
                    </div>
    
                
                </mat-card-content>
            </mat-expansion-panel>
            
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">

              <mat-expansion-panel-header>
                <mat-panel-title class="song-center">
                    5.
                </mat-panel-title>
                <mat-panel-description class="song-center">
                    Bakhuda Tumhi Ho
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card-content>
                <div class="container"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Jpq9tm0gnTM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </mat-card-content>
            </mat-expansion-panel>

             <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="song-center">
                    6.
                </mat-panel-title>
                <mat-panel-description class="song-center">
                    Aaj Din Chadheya
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card-content>
                <div class="container"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YSWMbwQuWAY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div></mat-card-content>
            </mat-expansion-panel>
          </mat-accordion>
    </mat-card> 

    
    <mat-card >
        <h3> Punjabi Songs</h3>
        <mat-accordion>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">

              <mat-expansion-panel-header>
                <mat-panel-title class="song-center">
                    1.
                </mat-panel-title>
                <mat-panel-description class="song-center">
                    Diljit Dosanjh - G.O.A.T.
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card-content>
                <div class="container"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/cl0a3i2wFcc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 </div>
            </mat-card-content>
            </mat-expansion-panel>

             <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="song-center">
                    2.
                </mat-panel-title>
                <mat-panel-description class="song-center">
                    Diljit Dosanjh: Born To Shine
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card-content>
                <div class="container"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/dCmp56tSSmA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 </div>
            </mat-card-content>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">

              <mat-expansion-panel-header>
                <mat-panel-title class="song-center">
                    3.
                </mat-panel-title>
                <mat-panel-description class="song-center">
                    Majhe Wale
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card-content>
                <div class="container"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/qGG1lF7nhGQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div></mat-card-content>
            </mat-expansion-panel>
            </mat-accordion>
            
    </mat-card> 

    <mat-card >
        <h3>  HipHop Songs</h3>
        <mat-accordion>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">

              <mat-expansion-panel-header>
                <mat-panel-title class="song-center">
                    1.
                </mat-panel-title>
                <mat-panel-description class="song-center">
                    Issey Kehte Hain Hip Hop Full Video Song
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card-content>
                <div class="container"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/uaCYeQ9FtSI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                 </mat-card-content>
            </mat-expansion-panel>

             <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="song-center">
                    2.
                </mat-panel-title>
                <mat-panel-description class="song-center">
                    Desi Kalakaar
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card-content>
                <div class="container"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/jTg15DrXhB0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div> </mat-card-content>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">

              <mat-expansion-panel-header>
                <mat-panel-title class="song-center">
                    3.
                </mat-panel-title>
                <mat-panel-description class="song-center">
                    LOVE DOSE Full Video Song
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card-content>
                <div class="container"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/TvngY4unjn4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 </div>
                </mat-card-content>
            </mat-expansion-panel>
            </mat-accordion>

    </mat-card> 

</div>